{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/main.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="{% static "pico-main/css/pico.min.css" %}" />
    <title>PokeApp</title>

    

</head>
<body>

    <dialog id="modal-example">
        <article>
          <header>
            <button
              aria-label="Close"
              rel="prev"
              data-target="modal-example"
              onclick="toggleModal(event)"
            ></button>
            <h3>Crea tu Poke Cuenta!</h3>
          </header>
          <p>
            Regístrate hoy mismo y descubre un mundo de Pokémon que te espera!
          </p>

        </br>

        {% include 'register.html' %}

          
        </article>
      </dialog>

    <nav class="container-fluid">
        <ul>
          <li><strong>PokeApp</strong></li>
        </ul>
        <ul>

            <li>
                <button class="contrast" data-target="modal-example" onclick="toggleModal(event)">
                    Crear cuenta
                </button>
            </li>

        </ul>
      </nav>

      </br

    <!-- Contenedor principal -->
    <div class="container">
        <div class="pokedex">
            <div class="tittleApp">
                <!--Contenedor imagen App-->
            </div>
                <form action="{% url 'index' %}" method="post" class="busquedaPokemon">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">
                        Buscar
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </button>
                </form>
            {% if pokemon_info %}
        <div class="pokemon-info">
            
            <div class="pokemon">
                <div class="titulo_pokevista">
                    <h2>{{ pokemon_info.name }}</h2>                        
                </div>
    
                <div class="vista_pokemones">
                    <div class="poke_imagen">
                        <img src="{{ pokemon_info.image_url }}" alt="{{ pokemon_info.name }}">
                    </div>
    
                    
                <div class="poke_info">
                        <p><strong>Id:</strong> {{ pokemon_info.id }}</p>
                        <p><strong>Nombre:</strong> {{ pokemon_info.name }}</p>
                        <p><strong>Tipo:</strong> {{ pokemon_info.types}}</p>

                        <div class="habilidad">
                            <ul>
                                <h3>Habilidades:</h3>
                                {% for ability in pokemon_info.abilities %}
                                    <li>{{ ability.ability.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>

                        <h2>Description:</h2>
                        <p>{{ pokemon_info.description }}</p>

                        <h2>Species:</h2>
                        <p>{{ pokemon_info.species }}</p>


                        <button id="hideEvolutionsButton">Mostrar Evoluciones</button>
                </div>
            </div>

                

                {% if evolutions %}
                <div class="evolutions">
                    <h3>Evoluciones:</h3>
                   <div class="vista">
                    <div class="pokemon_xd">
                        {% for evolution in evolutions %}
                        <li>
                            <div class="info_evol">
                                <img src="{{ evolution.image_url }}" alt="{{ evolution.name }}" class="evolution-image">
                            <br>
                            {{ evolution.name }}
                            </div >
                            <button class='btn_evols'>
                                Buscar evolución
                            </button>
                        </li>
                        {% endfor %}
                    </div>
                   </div>

                </div>
                {% endif %}
    </div>
    

            </div>

        </div>
        {% endif %}
        </div>
    </div>

    <script src="{% static "/js/main.js" %}"></script>
    
</body>
</html>
